:root, [data-bs-theme=light] {
  --bs-danger: #82121c;
  --bs-danger-rgb: 130,18,28;
  --bs-danger-text-emphasis: #34070B;
  --bs-danger-bg-subtle: #E6D0D2;
  --bs-danger-border-subtle: #CDA0A4;
  --bs-dark: #000000;
  --bs-dark-rgb: 0,0,0;
  --bs-dark-text-emphasis: #000000;
  --bs-dark-bg-subtle: #CCCCCC;
  --bs-dark-border-subtle: #999999;
  --bs-link-color: #000000;
  --bs-link-color-rgb: 0,0,0;
  --bs-link-hover-color: #00f0ff;
  --bs-link-hover-color-rgb: 0,240,255;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #82121c;
  --bs-btn-border-color: #82121c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6F0F18;
  --bs-btn-hover-border-color: #680E16;
  --bs-btn-focus-shadow-rgb: 236,219,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #680E16;
  --bs-btn-active-border-color: #620E15;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #82121c;
  --bs-btn-disabled-border-color: #82121c;
}

.btn-outline-danger {
  --bs-btn-color: #82121c;
  --bs-btn-border-color: #82121c;
  --bs-btn-focus-shadow-rgb: 130,18,28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #82121c;
  --bs-btn-hover-border-color: #82121c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #82121c;
  --bs-btn-active-border-color: #82121c;
  --bs-btn-disabled-color: #82121c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #82121c;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-outline-dark {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
}

