@media (min-width: 300px) {
  .FEATURE-1 {
    font-size: 15.4px;
    line-height: 21px;
    letter-spacing: 0px;
  }
}

@media (min-width: 768px) {
  .FEATURE-1 {
    font-size: 23.4px;
    line-height: 27px;
  }
}

