section {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 300px) {
  .h1-home-page {
    font-size: 36px;
    border-width: 3.5px;
    border-style: solid;
    font-family: 'Poppins';
    padding-top: 0px;
    margin-top: 10px;
    letter-spacing: 5px;
    color: rgb(0,0,0);
    margin-bottom: -2px;
    display: none;
  }
}

@media (min-width: 576px) {
  .h1-home-page {
    font-size: 72px;
    border-style: none;
    color: rgba(255,255,255,0.8);
    text-shadow: 0px 0px 3px rgba(0,0,0,0.16);
    display: block;
  }
}

@media (min-width: 768px) {
  .h1-home-page {
    font-size: 112px;
  }
}

@media (min-width: 992px) {
  .h1-home-page {
    font-size: 180px;
  }
}

@media (min-width: 300px) {
  .p-home-page {
    font-size: 14px;
    display: none;
  }
}

@media (min-width: 576px) {
  .p-home-page {
    font-size: 20px;
    display: block;
    font-weight: bold;
    color: rgb(0,0,0);
    margin-top: -15px;
  }
}

@media (min-width: 768px) {
  .p-home-page {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .p-home-page {
    font-size: 46px;
  }
}

@media (min-width: 300px) {
  .VAB745 {
    margin-bottom: 0px;
  }
}

@media (min-width: 576px) {
  .VAB745 {
    background: url("/assets/img/home-page/graphic_novel_aesthetic_bold_inks%20(12).webp") center / cover;
    min-height: 0px;
    height: 356.6px;
  }
}

@media (min-width: 768px) {
  .VAB745 {
    height: 401.6px;
  }
}

@media (min-width: 992px) {
  .VAB745 {
    height: 552.6px;
  }
}

@media (min-width: 300px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 576px) {
  p {
    font-size: 17px;
    line-height: 29px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 19.5px;
    line-height: 30px;
  }
}

p {
  font-family: 'Montserrat';
  letter-spacing: 0px;
  color: var(--bs-dark);
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

