@media (min-width: 300px) {
  .heading-h1-q {
    font-size: 20.4px;
    letter-spacing: 1px;
    line-height: 23.3px;
    border-width: 2.4px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .heading-h1-q {
    font-size: 31.4px;
    line-height: 29.3px;
    letter-spacing: 1px;
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .heading-h1-q {
    font-size: 40.4px;
    letter-spacing: 1px;
    padding: 40px;
    color: var(--bs-body-bg);
    /*background: rgba(0,0,0,0.62);*/
    line-height: 41.3px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 300px) {
  .heading-h1-q {
    font-size: 20.4px;
    letter-spacing: 1px;
    line-height: 23.3px;
    border-width: 2.4px;
    border-style: solid;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .heading-h1-q {
    font-size: 28.4px;
    line-height: 29.3px;
    letter-spacing: 1px;
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .heading-h1-q {
    font-size: 52.4px;
    letter-spacing: 1px;
    padding: 40px;
    color: var(--bs-body-bg);
    line-height: 39.3px;
    margin-right: 80px;
    margin-left: 80px;
    text-shadow: 0px 0px 9px var(--bs-dark-text-emphasis);
    border-style: none;
    border-color: var(--bs-dark-text-emphasis);
  }
}

@media (min-width: 992px) {
  .div-1-q {
    position: absolute;
  }
}

.heading-h1-q {
  font-family: 'Bebas Neue';
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .ddc-87 {
    color: var(--bs-body-bg);
  }
}

@media (min-width: 300px) {
  .h1-s1 {
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .h1-s1 {
    padding-top: 0px;
  }
}

