@media (min-width: 300px) {
  .h1-n-b {
    font-size: 19.4px;
    letter-spacing: 1px;
  }
}

@media (min-width: 576px) {
  .h1-n-b {
    font-size: 22.4px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .h1-n-b {
    font-size: 25.4px;
    letter-spacing: 1px;
  }
}

@media (min-width: 992px) {
  .h1-n-b {
    font-size: 28.4px;
    letter-spacing: 1px;
  }
}

.h1-n-b {
  font-family: 'Poppins';
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

