.H1-Title {
  font-family: 'Barrio';
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  border-bottom: var(--bs-dark);
  color: var(--bs-dark);
  text-rendering: optimizeSpeed;
  letter-spacing: 2px;
}

.H1-Title {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-style: none;
}

@media (min-width: 300px) {
  .H1-Title {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 576px) {
  .H1-Title {
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .H1-Title {
    font-size: 56px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (min-width: 992px) {
  .H1-Title {
    font-size: 57px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.Column-Width-Image {
  width: 1200px;
  margin: auto;
}

.H1-Title-Column-Width {
  width: 1200px;
  margin: auto;
}

.H1-Title-and-Image-Section {
  margin-bottom: 15px;
}

.H1-Image {
  color: var(--bs-dark);
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

