@media (min-width: 300px) {
  .heading-1 {
    font-size: 23.5px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 40.5px;
    line-height: 44px;
  }
}

.heading-1 {
  font-family: Poppins, sans-serif;
  border-radius: 0px;
  margin: 25px;
  padding: 20px;
  background: #ffffff;
  border: 3.4px solid rgb(0,0,0);
  box-shadow: 0px 0px 0px 0px;
  text-shadow: 0px 0px 0px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-top: 20px;
  color: rgb(0,0,0);
  letter-spacing: 3px;
  /*line-height: 48.6px;*/
}

