@media (min-width: 300px) {
  .p-1 {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .p-1 {
    font-size: 20px;
  }
}

.p-1 {
  font-family: 'Raleway';
  letter-spacing: 0px;
  color: rgb(255,255,255);
  line-height: 30px;
}

.div-p {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

