@media (min-width: 300px) {
  #FEATURE {
    font-size: 15.5px;
  }
}

@media (min-width: 768px) {
  #FEATURE {
    font-size: 24.5px;
  }
}

@media (min-width: 300px) {
  #H1-HEADING-TBMMJ {
    font-size: 20.4px;
  }
}

@media (min-width: 768px) {
  #H1-HEADING-TBMMJ {
    font-size: 32.4px;
  }
}

